* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    text-align: center;
}

main {
    text-align: center;
    display: inline-block;
}

img {
    object-fit: contain;
}

.box-title {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border: .2rem solid black;
    background-color: white;
    border-radius: 5rem;
    padding: 1rem;
    position: relative;
}

.parent-box {
    margin-top: -2rem;
    border: .2rem solid black;
    border-radius: 5rem;
    padding: 1rem;
    display: inline-block;
    /* position: static; */
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    min-width: 10%;
}

.internal-box {
    border: .1rem solid black;
    display: inline-block;
    list-style: none;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: left;
}

.box-image {
    width: 50%;
    min-width: 20%;
    min-height: 20%;
    height: 50%;
    position: relative;
    object-fit: cover;
    padding: 2rem;
    border-radius: 5rem;
}