* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    text-align: center;
}

img {
    object-fit: contain;
}

.box-title {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border: .2rem solid black;
    border-radius: 5rem;
    padding: 1rem;
}

.parent {
    display: inline-block;
    margin-top: -2rem;
    border: .12rem black;
    border: .2rem solid black;
    border-radius: 5rem;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box {
    
}

.box-image {

}