p {
    color: blue;
    font-size: 40px;
}

/* Class */
/* clase empieza con punto */
.parrafo {
    color: red  ;
}

/* id */
/* los ids empiezan con # */
#texto {
    color: yellow;
    font-size: 24px;
}