* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    border: .12rem black dotted;
    display: inline-block;
}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two {
    background-color: green;
}

/* Top bottom left or right cant be used while position is static
but you can when absolute relative fixed sticky is set */

